@charset "utf-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*//////////////////////////*/

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

#eyecatch {
  height: 800px;
  background: url(img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p1 {
  position: absolute;
  bottom: 30%;
  right: 55%;
  transform: translateY(-50%, -50%);
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  color: #cccccc;
  line-height: 1;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}

.newsbox {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.news-title {
  font-size: 10px;
  background-color: #f2f2f2;
  border: solid 1px black;
  vertical-align: middle;
  text-align: center;
  width: 500px;
  height: 50px;
  line-height: 20px;
  display: flex;
  text-align: left;
}

.news {
  font-size: 15px;
  color: #f2f2f2;
  background-color: black;
  border: solid 1px black;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 50px;
  line-height: 50px;
}

#mission {
  width: 100%;
  margin: 0 auto 50px;
  background-color: f2f2f2;
}

.mission-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  padding: 40px 0;
  background-color: black;
}

.mission-left h3,
.mission-left p {
  color: #f2f2f2;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 100px;
  position: relative;
  z-index: 0;
}

.mission-right img {
  display: block;
  width: 500px;
  z-index: 1;
  margin: 60px 60px -70px -100px;
}

.button-submit {
  text-align: center;
}

.button {
  padding: 10px 30px;
  background-color: #f2f2f2;
  color: black;
  align-items: center;
  margin: 30px 0;
  margin-left: 300px;
}

#servise {
  width: 100%;
  height: 1500px;
  background-color: rgb(184, 184, 184);
}

#servise .section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  padding: 40px 0;
}

.servise-wrap {
  display: flex;
  align-items: center;
}

.content-inner1 {
  padding: 20px 20px 20px 20px;
  line-height: 1;
  margin-bottom: 15px;
  float: left;
  align-items: left;
  width: 500px;
  height: 200px;
  font-size: 16px;
  background-color: #f2f2f2;
  z-index: 2;
  margin: -350px 0px 0px 350px;
}

.servise1-right img {
  float: right;
  display: block;
  width: 700px;
  height: auto;
  padding-right: 0px;
  z-index: 1;
  position: static;
  margin-right: 0px;
}

.blank {
  padding: 50px;
}

.content-inner2 {
  padding: 20px 20px 20px 20px;
  line-height: 1;
  margin-bottom: 15px;
  float: right;
  align-items: left;
  width: 500px;
  height: 200px;
  font-size: 16px;
  background-color: #f2f2f2;
  z-index: 2;
  margin: -300px 350px 0px 0px;
}

.servise2-left img {
  float: left;
  display: block;
  width: 700px;
  height: auto;
  padding-top: 150px;
  z-index: 1;
  position: static;
  margin-left: 0px;
}

#about {
  width: 100%;
  margin-top: 100px;
}
.about-wrap {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.about-left {
  position: relative;
}

.company {
  background: url(./img/company.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 750px;
  height: 200px;
  color: #f2f2f2;
  text-align: center;
  font-size: 30px;
  align-items: center;
}

.company h2 {
  padding-top: 70px;
}
.company p {
  padding-bottom: 70px;
}

.blank2 {
  padding-left: 100px;
}

.recruit {
  background: url(./img/recruit.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 750px;
  height: 200px;
  color: #f2f2f2;
  text-align: center;
  font-size: 30px;
  align-items: center;
}

.recruit h2 {
  padding-top: 70px;
}
.recruit p {
  padding-bottom: 70px;
}

.faq-wrap {
  font-size: 0px;
  text-align: center;
}

.box1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 100px;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  font-size: 25px;
  font: bold;
  line-height: 150px;
}

.box2 {
  display: inline-block;
  width: 800px;
  height: 150px;
  margin-top: 100px;
  color: #f2f2f2;
  background-color: black;
  font-size: 25px;
  font: bold;
  line-height: 150px;
}

p.question {
  padding-right: 140px;
}

.contact {
  height: 800px;
  background: url(img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 100px;
}

.contact-title {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 200px;
  font-size: 40px;
  font: bold;
}

.contact-box1 {
  text-align: center;
  color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
}

.contact-box2 {
  text-align: center;
  color: #f2f2f2;
  padding: 30px;
  font-size: 44px;
}

.contact-box3 p {
  text-align: center;
  color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.button-contact {
  text-align: center;
}
.button1 {
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  color: #f2f2f2;
  text-decoration: none;
  border: 1px #f2f2f2 solid;
  background-color: transparent;
}

#footer {
  height: 70px;
  background-color: black;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.footer-nav a {
  color: #f2f2f2;
  text-decoration: none;
}
.copyright {
  height: 20px;
  text-align: center;

  color: #f2f2f2;
  background-color: black;
}
